<div class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Employee</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" (click)="triggerAddEmployee()">Add New Employee</button>
          </div>
        
        </div>
      </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Skype</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>
              <span class="fa fa-link btn" (click)="link(employee)"></span>
              <span class="fa fa-edit btn" (click)="edit(employee)"></span>
              
            </td>
            <td>{{employee.empId}}</td>
            <td>{{employee.firstName +' ' + (employee.middleName ? employee.middleName : '') + ' ' + employee.lastName}}</td>
            <td>{{employee.workEmail}}</td>
            <td>{{employee.mobile}}</td>
            <td>{{employee.skypeId}}</td>
          </tr>
          
          
        </tbody>
      </table>
    </div>

    <!-- <div class="row">
        <div class="col-xs-12 col-12">
          <pagination [totalItems]="totalItems"></pagination>
        </div>
      </div> -->
    </div>