<div class="card login-card text-center">
    <form class="form-login" (ngSubmit)="logIn()" novalidate>
      <img class="mb-4" src="assets/img/logo.png" alt="" width="72" height="72">
      <h5>Accolite Softwares</h5>
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password>></label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    
      <button  type="submit" class="btn btn-md btn-primary" >Log in</button>
    </form>
</div>